html, body {
  margin: 0;
}

.App {
  height: 100vh;
  width: 100vw;
  overflow-x: auto;
}

h1, h2, h3, h4, p, a {
  margin: 0;
  color: whitesmoke;
}

h1 {
  font-size: 70px;
  
}

h2 {
  font-size: 50px;
}

p {
  font-size: 25px;
}

a {
  font-size: 25px;
  text-decoration: none;
}

.main {
  padding-top: 5%;
  height: 95%;
  background-image: url('../public/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-text-container {
  position: relative;
  max-width: 50%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-text-container h2 {
  margin-bottom: 20px;
}

/* project */
.projects {
  min-height: 100%;
  display: flex;
  justify-content: center;
}

/* navigation */

nav {
  z-index: 1;
  position: fixed;
  height: 5vh;
  width: 100vw;
  color: #fff;
  padding: 10px 0;
  background-color: #16252c;
}

.navbar-container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
/* 
.navbar-container a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 22px;
} */

.navbar-container a:hover {
  color: #cbe995;
}