html, body {
  margin: 0;
}

.App {
  height: 100vh;
  width: 100vw;
  overflow-x: auto;
}

h1, h2, h3, h4, p, a {
  margin: 0;
  color: whitesmoke
}

h1 {
  font-size: 68px;
  
}

h2 {
  font-size: 42px;
}

p {
  font-size: 21px;
}

a {
  font-size: 21px;
  text-decoration: none;
}

.home {
  padding-top: 5%;
  height: 95%;
  background-image: url('/public/assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: brightness(80%);
}

.home-text-container {
  position: relative;
  max-width: 50%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-text-container h2 {
  margin-bottom: 20px;
}

/* project */
.projects {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-header {
  color: black;
  margin-top: 60px;
  margin-bottom: 20px;
}

/* contact */
.contact {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: whitesmoke;
}

.contact-header {
  color: black;
  margin-bottom: 20px;
}

.contact-container {
  width: 500px;
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10%;
  background-color: white;
}

/* navigation */

nav {
  z-index: 1;
  position: fixed;
  height: 5vh;
  width: 100vw;
  color: #fff;
  padding: 10px 0;
  background-color: #16252c;
}

.navbar-container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.navbar-container a:hover {
  color: #cbe995;
}