* {
  margin: 0;
}

.App {
  height: 100vh;
  width: 100vw;
}

.main {
  padding-top: 5%;
  height: 95%;
  width: 100%;
  background-image: url('../public/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-text-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-text-container h1 {
  font-size: 70px;
  color: whitesmoke;
}

.main-text-container h2 {
  font-size: 40px;
  color: whitesmoke;
}

.main-text-container p {
  margin-top: 10px;
  font-size: 20px;
  color: whitesmoke;
}

/* projects */
.projects {
  min-height: 95%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-container {
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* background-color: blue; */
}

/* navigation */

nav {
  z-index: 1;
  position: fixed;
  height: 5%;
  width: 100%;
  color: #fff;
  padding: 10px 0;
  background-color: #16252c;
}

.navbar-container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.navbar-container a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 22px;
}

.navbar-container a:hover {
  color: #cbe995;
}